# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.python-version

# Artifacts
artifacts/checkpoints/
artifacts/logs/

# Environment
.env

# Data
data/stage_1/
data/stage_2/
data/raws/
data/train/
data/sft/

# Wandb
wandb/

# Logs
*.log

# Virtual environment
venv/
env/
ENV/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# UV
.uv/
